{
    "env": {
        "browser": true,
        "commonjs": true,
        "es2021": true,
        "es6": true
    },
    "extends": [
        "google"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 2017
       
    },
    "rules": {
        "eqeqeq": "off",
        "curly": "error",
        "quotes": 1,
        "require-jsdoc" : 0
    }
}
